<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089677260809-4r1068am4edahp5cs3kivh1j3n4r621l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089677260809-4r1068am4edahp5cs3kivh1j3n4r621l</string>
	<key>API_KEY</key>
	<string>AIzaSyCPF_D_o_r6XMxF36niMcCBGXJXS72uTPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1089677260809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitApp</string>
	<key>PROJECT_ID</key>
	<string>habit-app-7fc52</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-app-7fc52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089677260809:ios:65d464fc7ee17aebfae0d8</string>
</dict>
</plist>